<% layout("/layouts/boilerplate") %> 
<body>
    
    <%for(data of datas){%>
        <div class="cartCard">
            <div class="cartimg">
                <img  src="<%=data.image%>" alt="image">
            </div> 
            
            <div class="cartText">
                <h2><%=data.name%></h2>
                <br> <br> 
                <h4><%=data.info%></h4>
                <p> <br> <br>
               <span class="price"><span class="discount">&#8377; 99,999</span><br><b>&#8377; <%=data.price.toLocaleString("en-IN")%></b></span>
            </p><br>
            <div class="quantity">
                Qty: <input class="Qty" type="number" value="1" style="width: 50px;" pattern="[0-9]"> <button class="set">set</button></div>
                <div class="money"><input type="number" class="amount" value="<%=data.price%>"></div>
            <div class="bottons">
            <form method="post" action="/esport/<%=data._id%>?_method=DELETE">
                <button class="remove">REMOVE</button>
            </form>
            <form method="post" action="#">
                <button class="remove buy">BUY NOW</button>
            </form>
             </div>
        </div>
        </div>
    <%}%>
    
</body>