<% layout("/layouts/boilerplate") %> 
<body>
    
    <div class="address" id="adrs">
       <div class="location"><i  class="fa-solid fa-location-dot loc" ></i></div> <div class="ads"> <%=address.name%>,<%=address.phone%><br><%=address.pincode%>,<%=address.state%>,<%=address.city%></div>
    </div>
    <div class="cartCard">
        <div class="cartimg">
            <img  src="<%=data.image1%>" alt="image">
        </div> 
        <div class="cartText">
            <h2><%=data.name%></h2>
            <br> <br> 
            <h4><%=data.info%></h4>
            <p> <br> <br>
           <span class="price"><span class="discount">&#8377; 99,999</span><br><b>&#8377; <%=data.price.toLocaleString("en-IN")%></b></span>
        </p><br>
        <div class="quantity">
           <h5> Qty:  <%=quantity%></h5> 
        </div>
            <div class="money">
                <input type="text" name="pid" class="amount" value="<%=data._id%>">
            </div>
    </div>
    </div>
    <form method="post" action="/payment/option" >
    <div class="payoption"> 
        <p>Payment Option</p>
        <span >&#8377;<%=data.price * quantity%></span> <br>
        <input type="radio" name="poption" id="cod" value="cash">
        <label for="cod">Cash on Delivery</label><br>
        <input type="radio" name="poption" id="qr" value="qr">
        <label for="qr">UPI</label> <br>
        <button>Procced to Pay</button>
    </div>
</form>
</body>