<% layout("/layouts/boilerplate") %> 
<body>
    
    <div class="profileCont">
        <div class="profileImage">
            <div class="imagesrl">
            <img src="<%=data.image1%>" alt="image1"></div>
            <div class="imagesrl">
            <img src="<%=data.image2%>" alt="image2"></div>
            <div class="imagesrl">
            <img src="<%=data.image3%>" alt="image3">
        </div>
        </div>
        <div class="profiletText">
            <h2><%=data.name%></h2>
            <br><br>
            <h4><%=data.info%></h4>
            <br><br>
            <h5><%=data.description%></h5> 
            <br><br>
            <span class="price"><span class="discount">&#8377; 99,999</span><br> <br> <b>&#8377; <%=data.price.toLocaleString("en-IN")%></b></span> <br><br><br>
            <div class="bottons profilebtn">
                <form method="get" action="/esport/<%=data._id%>/cart">
                    <button class="remove" id="adtocart">ADD TO CART</button>
                </form>
                <form method="post" action="#">
                    <button class="remove buy">BUY NOW</button>
                </form>
                 </div>
        </div>
    </div>
    <div class="pophide  xxx">
        <img src="https://github.com/Amarendra-sahoo-mca/MajorProject-GITA/blob/main/images/popup/tick%20mark.jpg?raw=true" alt=""> 
        <h4 class="popmsg">Item added to cart successfully</h4> <br>
        <p>continue shopping</p> <br>
        <button id="close">close</button>
    </div>
</body>